.main-chat
  .main-chat__group-info
    .group-info
      .group-info__title
        title
      .group-info__member-list
        Member : test1
    .edit-btn
      = link_to "#", class: "edit-group" do
        Edit

  .main-chat__message-list
    = render @messages
  
  = form_for [@group, @message] do |f|  
    .main-chat__message-form  
      .bottom-items
        = f.text_field :content, class: "bottom-items__message", placeholder: "type a message"
        = f.label :image, class: 'bottom-items__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'file-form' 

      = f.submit 'Send', class: 'send-btn'